language: generic

services:
    - docker
env:
    - AUTHOR_TESTING=1

install:
    - docker build -t bailador/bailador .
    - docker run -d -e 'AUTHOR_TESTING=1' --volume=$(pwd):/srv --name bailador-test bailador/bailador /bin/sleep infinity
    #- docker exec -it bailador-test zef --verbose install .
    - docker exec -it bailador-test zef --verbose --deps-only install .
    
script:
    - docker exec -it bailador-test prove6 --loose -v xt
    - docker exec -it bailador-test prove6 --loose -v t
    
after_success:
    - docker stop bailador-test
    - docker rm bailador-test

    - if [ "$TRAVIS_BRANCH" == "master" ]; then
          docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
          docker push bailador/bailador;
      fi
notifications:
    slack: perl6-bailador:FuFG55nk94k5BSOeGMNO5nDh
